.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

/* WIREFRAMES FOR VISUAL HELP
.frame {
    border: 1px solid red;
}*/


body {
    background-image: url("/images/pattern-background-desktop.svg");
    background-color: hsl(225, 100%, 98%);
    background-size: contain;
    background-repeat: no-repeat;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
}

/* CARD GENERAL LAYOUT */
.card {
    margin: 10% auto;
    width: 450px;
    height: 700px;
    border-radius: 10px;
    background-color: white;
}

/* CARD GENERAL LAYOUT - IMAGE*/
.image {
    width: 450px;
    height: 220px;
    grid-area: 'image';
    background-image: url("/images/illustration-hero.svg");
    border-radius: 10px 10px 0 0;
}

/* CARD GENERAL LAYOUT - CONTENT*/
.content {
    display: grid;
    grid-template-rows: 150px 100px 200px;
    grid-template-areas:
    'summary'
    'option'
    'cta';
    justify-content: center;
    padding: 30px 0;
}

/* CARD: CONTENT GENERAL LAYOUT */
.summary, .option, .cta {
       width: 360px; 
       margin: 0;
       padding: 0;
       justify-content: center;
}

/* CARD: CONTENT - SUMMARY */
.summary {
    grid-area: 'summary';
    text-align: center;
    font-weight: 700;
}

h2 {
    font-weight: 900;
}

.summary p {
    color: rgb(133, 127, 127);
}

/* CARD: CONTENT - OPTION */
.option {
    width: 360px;
    grid-area: 'option';
    display:grid;
    grid-template-columns: 90px 180px 90px;
    grid-template-areas: 'icon option change';
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
    align-items: center;
    margin: 0;
    padding: 0;
}

.icon {
    grid-area: 'icon';
    display: flex;
    justify-content: center;
}

.plan {
    grid-area: 'plan';
}

.plan p {
    color: rgb(133, 127, 127)
}

.change {
    grid-area: 'change';
    font-size: 14px;
}

h4 {
    margin: 20px 0 0 0;
}

/* CARD: CONTENT - CALL TO ACTION */
.cta {
    grid-area: 'cta';
    display: flex;
    flex-direction: column;
}

.btn {
    padding: 15px;
    margin: 10px 0;
    font-weight: 900;
    font-size: 14px;
    width: 360px;
    border: none;
}

a {
    text-decoration: none;
}

.change a {
    text-decoration: underline;
}

.change a:hover {
    text-decoration: none;
    color: hsl(245, 75%, 52%, 70%);
}

.payment{
    color: white;
    background-color: hsl(245, 75%, 52%);
    border-radius: 10px;
    /*box-shadow: 0px 30px 10px -15px hsl(245, 75%, 52%, 15%);*/
}

.payment a {
    color: white;
}

.payment:hover {
    background-color: hsl(245, 75%, 52%, 70%);
}

.cancel {
    background-color: white;
}

.cancel a{
    color: rgb(0,0,0,50%);
}

.cancel a:hover {
    color: rgb(0, 0, 0);
}