.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

/* WIREFRAMES FOR VISUAL HELP*/
/*.frame {
    border: 1px solid red;
}
*/

body {
    background-image: url("/images/pattern-background-desktop.svg");
    background-color: hsl(225, 100%, 98%);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
}

/* CARD GENERAL LAYOUT */
.card {
    margin: 10% auto;
    width: 450px;
    height: 700px;
    border-radius: 10px;
    background-color: white;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 600;
}

/* CARD GENERAL LAYOUT - IMAGE*/
.image {
    width: 450px;
    height: 220px;
    grid-area: 'image';
    background-image: url("/images/illustration-hero.svg");
    border-radius: 10px 10px 0 0;
}

/* CARD GENERAL LAYOUT - CONTENT
.content {
    display: grid;
    grid-template-rows: 200px 100px 100px;
    grid-template-areas:
    'summary'
    'option'
    'cta';
    justify-content: center;
    padding: 30px 0;
}*/

/* CARD: CONTENT GENERAL LAYOUT */
.summary, .option, .cta {
       width: 360px; 
       margin: 0;
       padding: 0;
       justify-content: center;
}

/* CARD: CONTENT - SUMMARY */
.summary {
    height: 200px;
    grid-area: 'summary';
    text-align: center;
}

h2 {
    font-weight: 900;
}

.summary p {
    padding: 20px;
    color: hsl(0, 0%, 0%, 60%);
}

/* CARD: CONTENT - OPTION */
.option {
    height: 100px;
    grid-area: 'option';
    display:grid;
    grid-template-columns: 60px 180px 60px;
    grid-template-areas: 'icon option change';
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
    align-items: center;
}

h4 {
    font-weight: 700;
}

.option p {
    padding: 5px;
}

.icon {
    grid-area: 'icon';
}

.plan {
    grid-area: 'plan';
}

.change {
    grid-area: 'change';
}

/* CARD: CONTENT - CALL TO ACTION */
.cta {
    height: 100px;
    grid-area: 'cta';
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.btn {
    padding: 10px;
    margin: 10px;
    font-weight: 900;
}

a {
    text-decoration: none;
}

.payment{
    color: white;
    background-color: hsl(245, 75%, 52%);
}

.cancel {
    background-color: white;
}

.payment a {
    color: white;
}

.cancel a{
    color: black;
}

p {
    font-size: 16px;
}

